[Unit]
Description=mysqld_exporter - Exporter for machine metrics.
Documentation=https://github.com/William-Yeh/ansible-prometheus
After=network.target

[Service]
Type=simple

PIDFile={{ prometheus_pid_path }}/mysqld_exporter.pid

User={{ prometheus_user }}
Group={{ prometheus_group }}

{% if prometheus_mysqld_exporter_opts is defined %}
ExecStart={{ prometheus_mysqld_exporter_daemon_dir }}/mysqld_exporter  {{ prometheus_mysqld_exporter_opts }} 2>&1 1>{{ prometheus_log_path }}/mysqld_exporter.log
{% else %}
ExecStart={{ prometheus_mysqld_exporter_daemon_dir }}/mysqld_exporter 2>&1 1>{{ prometheus_log_path }}/mysqld_exporter.log
{% endif %}
