[Unit]
Description=postgres_exporter - Exporter for machine metrics.
Documentation=https://github.com/William-Yeh/ansible-prometheus
After=network.target

[Service]
Type=simple

PIDFile={{ prometheus_pid_path }}/postgres_exporter.pid
EnvironmentFile=-/etc/default/postgres_exporter

User={{ prometheus_user }}
Group={{ prometheus_group }}

{% if prometheus_postgres_exporter_opts is defined %}
ExecStart={{ prometheus_postgres_exporter_daemon_dir }}/postgres_exporter  {{ prometheus_postgres_exporter_opts }} 2>&1 1>{{ prometheus_log_path }}/postgres_exporter.log
{% else %}
ExecStart={{ prometheus_postgres_exporter_daemon_dir }}/postgres_exporter 2>&1 1>{{ prometheus_log_path }}/postgres_exporter.log
{% endif %}
